/* General */

.left {
  float:left;
}

/* Containers */

.container-fluid {
  margin-top: 50px;  
  
}

.container-fluid > .content {
  float: left;
  margin-left: 10px;
  width: 720px;
}

.container-fluid > .sidebar {
  width: 230px;
  text-align: right;
  border-right: solid 1px;
  padding-right: 6px;
}

h1 {
  margin-left: 12px;
}

h2 {
  clear: left;
  float: left;
}

/* Provincias#index */

div#population-detail {
  padding-left: 20px;
}
  
ul#provincias-list {
  list-style: none;
}

ul#provincias-list li {
  padding-bottom: 5px;  
}

ul#provincias-list li:hover, ul#departamentos-list li:hover {
  cursor:pointer;
  text-decoration:underline;
}

/* Provincias#show */

/* Departamentos#index */

ul#departamentos-list {
  border-right: 1px solid;
  clear: left;
  list-style: none outside none;
  padding-right: 6px;
  text-align: right;
  width: 110px;  
}

/* Population */

.population span {
  margin-left: 20px;
}

.population h2 {
  margin-left: 10px;  
}